body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  nav {
    background-color: #85C88A;
  }
  
  
  .navbar-brand img {
    max-height: 40px;
    width: auto;
  }
  
  main {
    flex: 1;
    display: flex;
    background-color: #EEEEEE;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .main-img {
    max-width: 15%;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  
  .content {
    width:100%;
    background-color: #EEEEEE;
    padding: 2rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #91d5f5;
    color: #EEEEEE;
  }

  .quiz{
    background: #85C88A;
    border-radius: 1rem;
    padding: 3rem;
  }

.quiz h1{
    padding-bottom: 3rem;
    font-weight: bold;
    text-align: center;
}

.quiz h2{
    padding-bottom: 1rem;
    text-align: center;
}

.incorrect {
  background-color: red !important;
  color: #ffffff !important;
}

.correct {
  background-color: #0cdc1e !important;
  color: #ffffff !important;
}

.button.correct:hover,
.button.incorrect:hover {
  background-color: inherit;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7; /* Optional for better visual feedback */
}

.button{
 
    background-color: #EEEEEE;
    width: 47%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    
}

.next{
    background-color: #a6a6a6;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    padding: 1em;
    width: 30%;


}   

