h1, h2, p {
  text-align: center;
}

/* quiz */
#quiz {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(233, 236, 229);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* questions */
#question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* answer */
.option {
  display: inline-block;
  background-color: #87cefa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #85C88A;
}

.option:active {
  background-color: #85C88A;
}

/* feedback */
#feedback {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* points */
#nahtavyydet {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #006400;
}

/* image */
#image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border: 3px solid #4682b4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive*/
@media (max-width: 768px) {
  #quiz {
      padding: 15px;
  }

  .option {
      padding: 10px 15px;
      font-size: 14px;
  }

  #question {
      font-size: 18px;
  }
}