* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: seagreen;
    color: white;
  }


  header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  header nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
  }

  main {
    flex: 1;
    display: flex;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

.main-img {
    max-width: 50%;
}

  .content {
    width: 80%;
    background-color: #f4f4f4;
    padding: 2rem;
  }

  footer {
    text-align: center;
    padding: 1rem;
    background-color: lightskyblue;
    color: white;
  }